section.about
  .container
    +BlockBox("What we do", "Story about us", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod fuga eius reprehenderit, distinctio deleniti possimus rerum eligendi necessitatibus ex incidunt rem. Excepturi autem ducimus laboriosam animi ratione nemo eius necessitatibus!")
    .about-list
      +AboutItem("../images/img-about1.png", "fa fa-users", "Super Teams")
      +AboutItem("../images/img-about2.png", "fa fa-users", "Super Team")
      +AboutItem("../images/img-about3.png", "fa fa-users", "Super Team")