section.footer
  .container
    .footer-top
      .footer-column
        a(href="index.html").footer-heading.footer-heading--logo MoGo
        p.footer-desc.text.text--normal Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, exercitationem quis cumque praesentium non animi reprehenderit! Fugiat reprehenderit illum eaque laboriosam, excepturi, impedit pariatur voluptatibus sit rem aut ab veniam?
        p.footer-follower <strong>15k</strong> followers
        .footer-social
          span Follow us:
          .footer-social-list
            a.footer-social-icon(href="#")
              i.fab.fa-facebook
            a.footer-social-icon(href="#")
              i.fab.fa-twitter
            a.footer-social-icon(href="#")
              i.fab.fa-pinterest
            a.footer-social-icon(href="#")
              i.fab.fa-instagram
            a.footer-social-icon(href="#")
              i.fab.fa-youtube
        form.footer-form(action="javascript:void(0)")
          input(type="email", placeholder= "Your email").footer-form-input
          button.footer-form-button Subscribe
      .footer-column
        h3.footer-heading Blogs
        +FooterBlog("#","../images/img-blog1.png", "Lorem ipsum dolor sit, amet consectetur adipisicing elit.", "Jan 9, 2021")
        +FooterBlog("#","../images/img-blog2.png", "Lorem ipsum dolor sit, amet consectetur adipisicing elit.", "Jan 9, 2021")
        +FooterBlog("#","../images/img-blog3.png", "Lorem ipsum dolor sit, amet consectetur adipisicing elit.", "Jan 9, 2021")

      .footer-column
        h3.footer-heading Instagram
        .footer-images
          +FooterImage("https://images.unsplash.com/photo-1517102901587-6f4a9ad72db4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1486&q=80")
          +FooterImage("https://images.unsplash.com/photo-1517102901587-6f4a9ad72db4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1486&q=80")
          +FooterImage("https://images.unsplash.com/photo-1517102901587-6f4a9ad72db4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1486&q=80")
          +FooterImage("https://images.unsplash.com/photo-1517102901587-6f4a9ad72db4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1486&q=80")
          +FooterImage("https://images.unsplash.com/photo-1517102901587-6f4a9ad72db4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1486&q=80")
          +FooterImage("https://images.unsplash.com/photo-1517102901587-6f4a9ad72db4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1486&q=80")
          +FooterImage("https://images.unsplash.com/photo-1517102901587-6f4a9ad72db4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1486&q=80")
          +FooterImage("https://images.unsplash.com/photo-1517102901587-6f4a9ad72db4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1486&q=80")
          +FooterImage("https://images.unsplash.com/photo-1517102901587-6f4a9ad72db4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1486&q=80")
        a(href="#").footer-images-more.text View more photos


    .footer-bottom &copy; 2021 MoGo free PSD template by <span> Laaqiq</span>