section.number
  .container
   ul.number-list
      +NumberItem("42", "Web Design Project")
      +NumberItem("123", "Happy Client")
      +NumberItem("15", "Award winner")
      +NumberItem("99", "Cup of coffee")
      +NumberItem("24", "Members")