section.people
  .container
    +BlockBox("Happy Client", "What people say")
    ul.people-list
      +PeopleItem("../images/img-people1.png", "Matthew Dix", "Graphic Design", " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque porro illum reiciendis unde praesentium illo iure ipsum eligendi, reprehenderit similique fugiat sunt minus odit hic vero deleniti consequuntur vitae? Optio?" )
      +PeopleItem("../images/img-people2.png", "Nick Karvounis", "Graphic Design", " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque porro illum reiciendis unde praesentium illo iure ipsum eligendi, reprehenderit similique fugiat sunt minus odit hic vero deleniti consequuntur vitae? Optio?" )
      +PeopleItem("../images/img-people3.png", "Jaelynn Castillo", "Graphic Design", " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque porro illum reiciendis unde praesentium illo iure ipsum eligendi, reprehenderit similique fugiat sunt minus odit hic vero deleniti consequuntur vitae? Optio?" )
      +PeopleItem("../images/img-people4.png", "Mike Petrucci", "Graphic Design", " Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque porro illum reiciendis unde praesentium illo iure ipsum eligendi, reprehenderit similique fugiat sunt minus odit hic vero deleniti consequuntur vitae? Optio?" )

