section.service
  .container
    +BlockBox("We work with", "Amazing services")
    ul.service-list
      +ServiceItem("../images/img-service-icon1.png", "Photograpy", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. " )
      +ServiceItem("../images/img-service-icon2.png", "Web Design", "Lorem ipsum dolor sit amet consectetur adipisicing elit.  " )
      +ServiceItem("../images/img-service-icon3.png", "Creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. " )
    ul.service-list
      +ServiceItem("../images/img-service-icon4.png", "Se0", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. " )
      +ServiceItem("../images/img-service-icon5.png", "Css/Html", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. " )
      +ServiceItem("../images/img-service-icon6.png", "Digital", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. " )
