section.story
  .container
    +BlockBox("Our story", "Latest blog")
    ul.story-list
      +StoryItem("../images/img-blog1.png", 15, "Jan", title="Lorem ipsum dolor, sit amet ", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, alias debitis! Vel itaque explicabo eligendi qui iure saepe architecto corrupti, facere sint, maiores ipsam suscipit ab? Eius quia sint porro!",542,18)
      +StoryItem("../images/img-blog2.png", 14, "Jan", title="Lorem ipsum dolor, sit amet ", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, alias debitis! Vel itaque explicabo eligendi qui iure saepe architecto corrupti, facere sint, maiores ipsam suscipit ab? Eius quia sint porro!",992,42)
      +StoryItem("../images/img-blog3.png", 12, "Jan", title="Lorem ipsum dolor, sit amet ", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, alias debitis! Vel itaque explicabo eligendi qui iure saepe architecto corrupti, facere sint, maiores ipsam suscipit ab? Eius quia sint porro!",1560,99)

section.map
  .container
    .map-content
      img.map-icon(src = "../images/img-map-icon.png")
      h2.map-heading Open map