section.team
	.container
		+BlockBox("Who we are", "Meet our team", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, alias debitis! Vel itaque explicabo eligendi qui iure saepe architecto corrupti, facere sint, maiores ipsam suscipit ab? Eius quia sint porro!")
		ul.team-list
			+TeamItem("../images/img-team1.png", "Matthew Don", "Branding/UX Team"  )
				+SocialLink("#fb", "#tw","#pin","#ins")
			+TeamItem("../images/img-team2.png", "Christopher Cambell ", "Branding/UX Team"  )
				+SocialLink("#fb", "#tw","#pin","#ins")
			+TeamItem("../images/img-team3.png", "Micheal Fertic ", "Developer"  )
				+SocialLink("#fb", "#tw","#pin","#ins")

section.brand
	.container
		img(src ="../images/img-logos.png", alt ="brands").brand-iamge