section.quote
  .container
    .quote-container
      +QuoteItem("./images/img-quote-avatar.png", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed veritatis consequatur iste similique quam reprehenderit itaque, vero quibusdam debitis eius voluptas nesciunt nisi expedita recusandae ipsa quod nam reiciendis eaque.", "David Beckham", true)
      +QuoteItem("./images/img-quote-avatar.png", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed veritatis consequatur iste similique quam reprehenderit itaque, vero quibusdam debitis eius voluptas nesciunt nisi expedita recusandae ipsa quod nam reiciendis eaque.", "Alan Smith", true)
      +QuoteItem("./images/img-quote-avatar.png", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed veritatis consequatur iste similique quam reprehenderit itaque, vero quibusdam debitis eius voluptas nesciunt nisi expedita recusandae ipsa quod nam reiciendis eaque.", "John Doe", true)