section.wedo
  .container
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magnam dolorum ipsum, rerum doloribus totam accusantium veritatis autem id perspiciatis repudiandae nulla nesciunt maiores mollitia officiis magni odit numquam blanditiis!