.about {
  padding-top: 9.3rem;
  padding-bottom: 9rem;
  background-color: white;

  // Css using flexbox
  // &-list {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-left: -3rem;
  // }
  // &-item {
  //   width: calc(33.33% - 3rem);
  //   margin-left: 3rem;
  //   position: relative;
  //   z-index: 1;
  //   transition: all 0.25s linear;
  // }

  //Css using grid
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
  }

  &-image {
    width: 100%;
  }

  &-content {
    @include flex(center, center, column);
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
  }
  &-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &-title {
    font-weight: bold;
    line-height: 1.4;
    font-size: 1.8rem;
    word-break: break-all;
    @include textClamp(1);
  }

  @include hoverEffect(".about-item", ".about-content");

  @include maxWidth(768px) {
    padding-top: 5rem;

    //css using flexbox scroll snap
    // &-list {
    //   flex-wrap: nowrap;
    //   overflow-x: auto;
    //   padding: 1rem;
    //   margin-left: unset;

    //   scroll-snap-type: x mandatory;
    //   scroll-snap-stop: always;
    //   @include hideScroll();
    // }
    // &-item {
    //   width: 80%;
    //   flex-shrink: 0;
    //   scroll-snap-align: start;
    // }

    //Css using grid scroll snap
    &-list {
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      grid-template-columns: unset;
      grid-row-gap: 2.5rem;
      overflow-x: auto;
      padding: 1rem;

      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      @include hideScroll();
    }
    &-item {
      scroll-snap-align: center;
    }
  }
}
